<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1 class="text-center" style="font-size: 25px;">IOT WITH NODEJS</h1>
    <div class="row">
        <div class="col-4 py-2"  style="font-size: 20px;">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i> LED 1
        </div>
        <div class="col-8 py-2">
            <a href="/ON?led=1" class="btn btn-info">ON</a>
            <a href="/OFF?led=1" class="btn btn-danger">OFF</a>
            <a href="/BLINK?led=1" class="btn btn-success">BLINK</a>
        </div>
        <div class="col-4 py-2" style="font-size: 20px;">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i> LED 2
        </div>
        <div class="col-8 py-2">
            <a href="/ON?led=2" class="btn btn-info">ON</a>
            <a href="/OFF?led=2" class="btn btn-danger">OFF</a>
            <a href="/BLINK?led=2" class="btn btn-success">BLINK</a>
        </div>
    </div>
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>